
<form [formGroup]="signUpForm" class="example-container">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!signUpForm.get('firstName').valid && signUpForm.get('firstName').touched">Please enter First Name</span>
    </mat-error>
  </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="Second Name" formControlName="secondName" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!signUpForm.get('secondName').valid && signUpForm.get('secondName').touched">Please enter Second Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">Please enter Email</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="User Name" formControlName="username" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched">Please enter User Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type = "password" matInput placeholder="Password" formControlName="password" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">Please enter Password</span>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onRegister(signUpForm.value)">Register</button>
</form>